{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% load cerc %}
{% block head %}
<script>
    $(document).ready(function() {
        $("#accordion_courses").accordion({
            collapsible: true,
            autoHeight: false
            }
        );
    });
</script>
{% endblock %}
{% block content %}
<h1 id="heading">Upcoming courses for {{ teacher.name }}</h1>
<table>
    {% for course in teacher.upcoming %}
    <tr>
        <td>&nbsp;</td>
        <td colspan="4"><strong>{{ course.title }}</strong></td>
        <td><a href="/edit_course_details/{{ course.id }}">Edit Course Details</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
